{% extends "vault/base.html" %}
{% load static %}

{% block content %}
<!-- TOP MENU BAR -->

<nav class="navbar sticky-top navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">
        <img src="{% static 'vault/sec3.png' %}" width="120" height="35" alt="">
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input id="topSearchBar" class="form-control form-control-dark mr-lg-auto mr-md-3" type="text" placeholder="Search"
        aria-label="Search">

    <div id="userLogedinDropdown" class="d-flex align-items-center ml-lg-5">
        <i class="fas fa-user-circle fa-2x"></i>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle ml-1" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                bobos_ksimpoug@hotmail.com
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Log Out</a>
            </div>
        </div>
    </div>
</nav>

<!-- SIDE NAV-BAR MENU -->

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fas fa-lock" data-feather="file"></span>
                            Passwords
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fas fa-sticky-note" data-feather="shopping-cart"></span>
                            Notes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fas fa-address-book" data-feather="users"></span>
                            Addresses
                        </a>
                </ul>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fas fa-cog" data-feather="file-text"></span>
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" style="color: #343A40;">Passwords</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Button</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Button</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        Button
                    </button>
                </div>
            </div>


            <!-- CARDS GRID CONTAINER -->

            <div class="container-fluid">
                <div class="main-grid-view row d-flex justify-content-lg-start justify-content-center">
                    {% for websiteInfo in webSiteInfoList %}
                    <div class="customCol col-xs-12">
                        <div class="card">
                            {% if websiteInfo.websiteImage == "''" %}
                            <img class="card-img-top" src="{% static 'vault/lock.png' %}" alt="Card url">
                            {% else %}
                            <img class="card-img-top" src={{ websiteInfo.websiteImage }} alt="Card url">
                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title">{{ websiteInfo.websiteName }}</h5>
                                <div class="card-url-group d-flex justify-content-between">
                                    <p class="card-text">{{ websiteInfo.websiteUrl }}</p>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button>
                                </div>
                                <div>
                                    <p class="card-text"><em><b>Username :</b></em> </p>
                                </div>
                                <div class="card-username-group d-flex justify-content-between">
                                    <p class="card-text">{{ websiteInfo.usernameSpecial}}</p>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button>
                                </div>
                                <div>
                                    <p class="card-text"><em><b>Password :</b></em> </p>
                                </div>
                                <div class="card-password-group d-flex justify-content-between">
                                    <p class="card-text">{{ websiteInfo.passwordSpecial }}</p>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- FLOATING BUTTON TRIGGERS THE MODAL BELOW  -->
            <a role="button" class="floating-button" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-plus my-float"></i>
            </a>

            <!-- MODAL WINDOW -->
            <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Password</h5>
                            <button type="button" class="close" style="color: #32BEA6;" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group row">
                                    <label for="website-name" class="col-sm-10 col-form-label">Website name</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="website-name" placeholder="Website name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="website-url" class="col-sm-10 col-form-label">Website url</label>
                                    <div class="col-sm-12">
                                        <input type="url" class="form-control" id="website-url" placeholder="Website url">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-10 col-form-label">Email</label>
                                    <div class="col-sm-12">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="website-username" class="col-sm-10 col-form-label">Website username</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="website-username" placeholder="(Keep empty if same with email)">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-10 col-form-label">Password</label>
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" id="inputPassword"
                                            placeholder="Password">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" style="background-color: #32BEA6; border: 0;">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
{% endblock content %}