{% extends "vault/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <!-- TOP MENU BAR -->
    <nav class="navbar sticky-top navbar-dark bg-dark flex-md-nowrap p-0 shadow">
        <div>
            <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">
                <img src="{% static 'vault/sec3.png' %}" width="120" height="35" alt="">
            </a>
            <button class="navbar-togler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
                    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-togler-icon"></span>
            </button>
        </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="content-section">
                <h1> You have been logged out</h1>
                <div class="border-top pt-3">
                    <medium>
                        <h3>Already have an account?</h3>
                        <p></p>
                        <a href="{% url 'login' %}", style="color:#2ab59d">Log in</a>
                    </medium>
                </div>
                <p></p>
                <div class="content-section">
                    <h4>Don't have an account? </h4>
                    <medium class="text-info">
                        <a href="{% url 'register' %}" , style="color:#2ab59d">Register</a>
                    </medium>
                </div>
            </div>
        </div>
        </div>
    </main>


{% endblock content %}